manifest {
    name        = 'RewireNF'
    description = 'Differential gene co-expression and network rewiring pipeline'
    version     = '0.1.0'
    mainScript  = 'main.nf'
}

params {
    expression         = null
    metadata           = null
    group_col          = 'condition'
    group_a            = null
    group_b            = null
    method             = 'pearson'
    min_cor            = 0.6
    fdr                = 0.05
    top_variable_genes = 3000
    bootstrap          = 100
    bootstrap_seed     = 42
    stability_threshold = 0.8
    run_de             = true
    de_fdr             = 0.05
    min_logfc          = 0
    min_rewired_edges  = 1
    community_resolution = 1.0
    community_seed     = 42
    module_overlap_threshold = 0.5
    outdir             = 'results'
}

profiles {
    test {
        includeConfig 'conf/test.config'
    }
}
