params {
    expression     = "${projectDir}/data/example/expression.tsv"
    metadata       = "${projectDir}/data/example/metadata.tsv"
    group_col      = 'condition'
    group_a        = 'control'
    group_b        = 'case'
    run_enrichment = true
    gene_sets      = "${projectDir}/data/example/gene_sets.tsv"
    outdir         = 'results/test'
}
